.portfolio__buttons {
  display: flex;
  justify-content: center;
}

.portfolio__buttons__item + .portfolio__buttons__item {
  margin-left: 8px;
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.portfolio__list__item {
  width: 370px;
  height: 404px;
  margin-right: 30px;
  margin-bottom: 30px;

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    opacity: 1;
  }
  &:nth-child(3n + 3) {
    margin-right: 0;
  }
  &:nth-child(n + 7) {
    margin-bottom: 0;
  }
}

.portfolio__list__container__title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio__list__container__text {
  margin-top: 4px;
  margin-bottom: 0;
  color: var(--primary-text-color);

  font-size: 16px;
  line-height: 1.87;
}

.portfolio__list__container {
  margin: 0;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.portfolio__list__link {
  width: 370px;
  height: 294px;
}

.portfolio__list__description {
  position: relative;
  align-items: center;
  display: flex;
  overflow: hidden;

  &::before {
    position: absolute;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    left: 0;
    bottom: 0;
    content: '';
    background-color: rgba(33, 150, 243, 0.9);
    /* opacity: 0; */
    transform: translateY(101%);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .portfolio__list__item:hover & {
      transform: translateY(0);
    }
  }
}

.portfolio__list__description__text {
  position: absolute;
  margin: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  left: 0;
  bottom: 0;
  /* opacity: 0; */
  overflow: hidden;
  transform: translateY(101%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .portfolio__list__item:hover & {
    transform: translateY(0);
  }
}

.portfolio__buttons__secondary {
  display: inline-block;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  text-align: center;

  color: var(--title-text-color);
  background-color: var(--secondary-background-color);

  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;

  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }
}
