.team__title {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 94px;
  text-align: center;
}

.team__list {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}

.team__item {
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &:last-child {
    margin-right: 0;
  }
}

.team-list__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin: 0;
}

.team-list__text {
  font-size: 16px;
  line-height: 1.19;
  margin-top: 10px;
  margin-bottom: 0;
}

.team__list-container {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--primary-white-color);
}

.team-list__contacts {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.team-list__contacts__item + .team-list__contacts__item {
  margin-left: 10px;
}

.team-list__contacts__link {
  display: flex;
  height: 44px;
  width: 44px;

  border-radius: 50%;
  align-items: center;
  justify-content: center;

  fill: #afb1b8;

  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    fill: var(--primary-white-color);
  }
}
