.clients__title {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-size: 28px;
  line-height: (33px/28px);

  @include desktop {
    font-size: 36px;
    line-height: (42px/36px);
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: -30px;

  @include desktop {
    margin-top: 50px;
    flex-wrap: nowrap;
    justify-content: center;
  }
}

.clients__item {
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  width: calc(100% / 2 - 15px);
  margin-bottom: 30px;

  @include tablet {
    width: calc(100% / 3 - 15px);
  }

  @include desktop {
    & + & {
      margin-left: 30px;
    }
  }

  &:hover,
  &:focus {
    fill: var(--accent-color);
    border-color: var(--accent-color);
  }
}

.clients__link {
  display: flex;
  height: 92px;

  align-items: center;
  justify-content: center;

  fill: #afb1b8;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @include mobile {
    width: 210px;
  }

  @include tablet {
    width: 226px;
  }

  @include desktop {
    width: 170px;
  }

  &:hover,
  &:focus {
    fill: var(--accent-color);
    border-color: var(--accent-color);
  }
}
